In [1]:
import requests
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [157]:
### Problem, this method does not exclude questions. ###
def call_pull(ticker, year, quarter,key = 'e46f1a303dafb62460de104424a00084'):
    transcript = requests.get(f'https://financialmodelingprep.com/api/v3/earning_call_transcript/{ticker}?quarter={quarter}&year={year}&apikey={demo}').json()
    transcript = transcript[0]['content']
    return transcript

def entire_report_pull(stock_list, year_list, quarter_list):
    report = []
    columns = []
    for stock in stock_list:
        stonks = []
        for yr in year_list:
            for qtr in quarter_list:
                if f'{yr},{qtr} Qtr' not in columns:
                    columns.append(f'{yr},{qtr} Qtr')
                try:
                    stonks.append(call_pull(stock, yr, qtr))
                except IndexError:
                    stonks.append(None)
        report.append(stonks)
    return pd.DataFrame(report, columns = columns, index = stock_list)


test_tech = ['AAPL','AMZN']
test_quarters= [1,2,3,4]
test_years = [2019,2020]

In [174]:
def better_entire_report_pull(stock_list, year_list, quarter_list):
    report = []
    for stock in stock_list:
        for yr in year_list:
            for qtr in quarter_list:
                stonks = []
                stonks.append(stock)
                stonks.append(f'{yr},{qtr} Qtr')
                try:
                    stonks.append(call_pull(stock, yr, qtr))
                except:
                    stonks.append(None)
                report.append(stonks)
    return pd.DataFrame(report, columns = ['Ticker', 'Date', 'Transcript'])

In [49]:
better_entire_report_pull(test_tech, test_years, test_quarters)

   Ticker        Date                                         Transcript
0    AAPL  2019,1 Qtr  Operator: Good day and welcome to the Apple In...
1    AAPL  2019,2 Qtr  Operator: Good day, and welcome to the Apple I...
2    AAPL  2019,3 Qtr  Operator: Good day, and welcome to the Apple I...
3    AAPL  2019,4 Qtr  Operator: Good day, everyone. Welcome to the A...
4    AAPL  2020,1 Qtr  Operator: Good day, everyone. Welcome to the A...
5    AAPL  2020,2 Qtr  Operator: Good day everyone. Welcome to the Ap...
6    AAPL  2020,3 Qtr  Operator: Good day, everyone. Welcome to the A...
7    AAPL  2020,4 Qtr   Operator: Good day everyone and welcome to th...
8    AMZN  2019,1 Qtr  Operator: Thank you for standing by. Good day,...
9    AMZN  2019,2 Qtr  Operator: Thank you for standing by. Good day,...
10   AMZN  2019,3 Qtr  Operator: Thank you for standing by. Good day ...
11   AMZN  2019,4 Qtr  Operator: Thank you for standing by. Good day,...
12   AMZN  2020,1 Qtr  Operator: Good day everyone and welcome to the...
13   AMZN  2020,2 Qtr   Operator: Thank you for standing by. Good day...
14   AMZN  2020,3 Qtr                                               None
15   AMZN  2020,4 Qtr                                               None

In [13]:
test_tech = ['AAPL','AMZN']
test_quarters= [1,2,3,4]
test_years = [2019,2020]

def label_pull(ticker, limit=13,key = 'e46f1a303dafb62460de104424a00084'):
    label = requests.get(f'https://financialmodelingprep.com/api/v3/enterprise-values/{ticker}?period=quarter&limit={limit}&apikey=e46f1a303dafb62460de104424a00084').json()
    return pd.DataFrame(label)

def better_than_VGT(row):
    ### to be used in next function ###
    if row['Percent Change'] >= row['VGT']:
        return 1
    else:
        return 0

def full_pull(stock_list, limit=13):
    
    ### form a DataFrame that shows quarterly stock movement ###
    label = pd.DataFrame()
    skipped = []
    for stock in stock_list:
        try: 
            label = label.append(label_pull(stock, limit).iloc[::-1])
        
        except:
            skipped.append(stock)
            continue
            
    new_label = label.iloc[:,:3]
    
    ### add Percent Chane ###
#     new_label['Percent Change'] = new_label.stockPrice.pct_change()
#     new_label['Percent Change'][(new_label.date == '2017-12-30')|(new_label.date == '2017-12-31')] = np.nan

    
    ### Retrieved from https://institutional.vanguard.com/web/c1/investments/product-details/fund/0958 ###
    ### Returns from 2017-2020 all quarters ###
#     VGT = pd.DataFrame()
#     for stock in stock_list:
#         VGT = VGT.append(pd.DataFrame([.0855, .0411, .0637, .1194, -.1738, .2068, .0543, .0261, .1393, -.1315, .3185, .1202, .1389], columns = ['VGT']))
#     VGT.reset_index(inplace=True)
#     new_label.reset_index(inplace=True)
    
#     ### drop NaN values ###
#     combined_df = pd.concat([new_label, VGT], axis=1).drop('index', axis=1)
#     combined_df.dropna(inplace=True)
    
#     ### Create final column to be used as label ###
#     combined_df['Better than VGT?'] = (combined_df['Percent Change'] > combined_df['VGT']).astype(int)
    
    return new_label, skipped

y = full_pull(['AAPL'])
y

(   symbol        date  stockPrice
 12   AAPL  2017-12-30   42.307499
 11   AAPL  2018-03-31   41.669998
 10   AAPL  2018-06-30   46.277500
 9    AAPL  2018-09-29   56.435001
 8    AAPL  2018-12-29   39.057499
 7    AAPL  2019-03-30   47.487499
 6    AAPL  2019-06-29   49.480000
 5    AAPL  2019-09-28   54.705002
 4    AAPL  2019-12-28   72.449997
 3    AAPL  2020-03-28   61.935001
 2    AAPL  2020-06-27   88.407501
 1    AAPL  2020-09-26  112.279999
 0    AAPL  2020-12-26  136.690002,
 [])

In [15]:
y = full_pull([tech])
y

(Empty DataFrame
 Columns: []
 Index: [],
 [])

In [3]:
tech = ['ACIW','ACLS','ACMR','AGYS','ALGM',
'ALRM','ALTR','AMBA','AMKR','AMSWA','APPF','APPN','APXT',
'ATOM','AVID','AVNW','AVT','AXTI','AZPN','BAND','BBSI',
'BCOV','BIGC','BL','BLKB','BMBL','BNFT','BRKS','BTRS',
'CAMP','CARG','CASA','CCMP','CCRN','CDLX','CERT','CEVA',
'CHNG','CHX','CLSK','CMTL','COMM','CPSI','CRNC','CRSR',
'CRUS','CSGS','CSOD','CVLT','DCBO','DCT','DGII','DIOD',
'DMRC','DOMO','DSGX','DSP','DSPG','EBIX','EPAY','ERII',
'EVBG','EVER','EXTR','FEYE','FORM','FROG','FSLR','FSRV',
'GDYN','GFN','GLUU','GNOG','GRPN','GTYH','HCAT','HLIT',
'HSII','HSTM','ICHR','INOV','INTZ','IPHI','JAMF','JCOM',
'KE','KELYA','KELYB','KFRC','KOPN','LASR','LCY','LECO',
'LORL','LPSN','LSCC','LTRPA','LTRPB','MANH','MARA','MCFE',
'MDRX','MGNI','MGRC','MIDD','MITK','MSGM','MSTR','MTSI',
'NATI','NCNO','NH','NTCT','NTNX','NVEC','NXGN','OMCL',
'OSIS','OSPN','PCTY','PDFS','PEGA','PFPT','PLAB','PLUS',
'PLXS','POWI','PRCH','PRFT','PRGS','PS','PUBM','QADA',
'QADB','QLYS','QMCO','RBBN','RCII','RIOT','RMBS','RP',
'RPD','RXT','SABR','SANM','SCPL','SCSC','SCWX','SGH',
'SGMS','SHLS','SITM','SLAB','SLP','SMCI','SMTC','SPSC',
'SPT','SPWR','SSPK','SSTI','SSYS','SUMO','SVMK','SWIR',
'SYKE','SYNA','TCX','TENB','TLS','TRIP','TRUE','TTEC',
'TTMI','TWOU','UCTT','UPLD','UPWK','VECO','VERI','VERX',
'VIAV','VIH','VOXX','VRNS','VRNT','VSAT','VUZI','XPER',
'ZIXI']

stonk = pd.DataFrame()
skipped = []
for stock in tech:
    try:
        stonk = stonk.append(label_pull(stock).iloc[::-1])
    except:
        skipped.append(stock)
        continue
        
stonk

,symbol,date,stockPrice,numberOfShares,marketCapitalization,minusCashAndCashEquivalents,addTotalDebt,enterpriseValue
12,ACIW,2017-12-31,22.690000,118315000.0,2.684567e+09,69710000.0,6.857290e+08,3.300586e+09
11,ACIW,2018-03-31,23.210000,115642000.0,2.684051e+09,74281000.0,6.792400e+08,3.289010e+09
10,ACIW,2018-06-30,24.670000,115548000.0,2.850569e+09,59033000.0,6.777990e+08,3.469335e+09
9,ACIW,2018-09-30,27.260000,115889000.0,3.159134e+09,76342000.0,6.749240e+08,3.757716e+09
8,ACIW,2018-12-31,27.670000,116066000.0,3.211546e+09,148502000.0,6.717560e+08,3.734800e+09
...,...,...,...,...,...,...,...,...
4,JCOM,2019-12-31,93.710000,47626833.0,4.463111e+09,575615000.0,1.448461e+09,5.335957e+09
3,JCOM,2020-03-31,74.850000,47620774.0,3.564415e+09,526554000.0,1.455446e+09,4.493307e+09
2,JCOM,2020-06-30,63.210000,46850944.0,2.961448e+09,616820000.0,1.462456e+09,3.807084e+09
1,JCOM,2020-09-30,69.220001,46279515.0,3.203468e+09,567930000.0,1.469051e+09,4.104589e+09
0,JCOM,2020-12-31,97.690002,44504222.0,4.347618e+09,242652000.0,1.579021e+09,5.683987e+09

In [4]:
skipped

['AZPN',
 'BAND',
 'BBSI',
 'CASA',
 'CCMP',
 'DMRC',
 'DOMO',
 'DSGX',
 'HLIT',
 'HSII',
 'HSTM']

In [11]:
label_pull('AAPL')

[{'symbol': 'AAPL',
  'date': '2020-12-26',
  'stockPrice': 136.690002,
  'numberOfShares': 16935119000,
  'marketCapitalization': 2314861449980.238,
  'minusCashAndCashEquivalents': 36010000000,
  'addTotalDebt': 112043000000,
  'enterpriseValue': 2390894449980.238},
 {'symbol': 'AAPL',
  'date': '2020-09-26',
  'stockPrice': 112.279999,
  'numberOfShares': 17057622000,
  'marketCapitalization': 1915229781102.3782,
  'minusCashAndCashEquivalents': 38016000000,
  'addTotalDebt': 112436000000,
  'enterpriseValue': 1989649781102.3782},
 {'symbol': 'AAPL',
  'date': '2020-06-27',
  'stockPrice': 88.407501,
  'numberOfShares': 17250292000,
  'marketCapitalization': 1525055207240.292,
  'minusCashAndCashEquivalents': 33383000000,
  'addTotalDebt': 106810000000,
  'enterpriseValue': 1598482207240.292},
 {'symbol': 'AAPL',
  'date': '2020-03-28',
  'stockPrice': 61.935001,
  'numberOfShares': 17440404000,
  'marketCapitalization': 1080171439180.404,
  'minusCashAndCashEquivalents': 40174000000,
  'addTotalDebt': 109507000000,
  'enterpriseValue': 1149504439180.404},
 {'symbol': 'AAPL',
  'date': '2019-12-28',
  'stockPrice': 72.449997,
  'numberOfShares': 17660160000,
  'marketCapitalization': 1279478539019.52,
  'minusCashAndCashEquivalents': 39771000000,
  'addTotalDebt': 108292000000,
  'enterpriseValue': 1347999539019.52},
 {'symbol': 'AAPL',
  'date': '2019-09-28',
  'stockPrice': 54.705002,
  'numberOfShares': 17963248000,
  'marketCapitalization': 982679517766.496,
  'minusCashAndCashEquivalents': 48844000000,
  'addTotalDebt': 108047000000,
  'enterpriseValue': 1041882517766.496},
 {'symbol': 'AAPL',
  'date': '2019-06-29',
  'stockPrice': 49.48,
  'numberOfShares': 18282532000,
  'marketCapitalization': 904619683360,
  'minusCashAndCashEquivalents': 50530000000,
  'addTotalDebt': 108418000000,
  'enterpriseValue': 962507683360},
 {'symbol': 'AAPL',
  'date': '2019-03-30',
  'stockPrice': 47.487499,
  'numberOfShares': 18696284000,
  'marketCapitalization': 887839767753.716,
  'minusCashAndCashEquivalents': 37988000000,
  'addTotalDebt': 102125000000,
  'enterpriseValue': 951976767753.716},
 {'symbol': 'AAPL',
  'date': '2018-12-29',
  'stockPrice': 39.057499,
  'numberOfShares': 18943280000,
  'marketCapitalization': 739877139656.72,
  'minusCashAndCashEquivalents': 44771000000,
  'addTotalDebt': 114730000000,
  'enterpriseValue': 809836139656.72},
 {'symbol': 'AAPL',
  'date': '2018-09-29',
  'stockPrice': 56.435001,
  'numberOfShares': 19206356000,
  'marketCapitalization': 1083910720066.356,
  'minusCashAndCashEquivalents': 25913000000,
  'addTotalDebt': 114483000000,
  'enterpriseValue': 1172480720066.356},
 {'symbol': 'AAPL',
  'date': '2018-06-30',
  'stockPrice': 46.2775,
  'numberOfShares': 19528668000,
  'marketCapitalization': 903737933370.0001,
  'minusCashAndCashEquivalents': 31971000000,
  'addTotalDebt': 114600000000,
  'enterpriseValue': 986366933370.0001},
 {'symbol': 'AAPL',
  'date': '2018-03-31',
  'stockPrice': 41.669998,
  'numberOfShares': 20099508000,
  'marketCapitalization': 837546458160.984,
  'minusCashAndCashEquivalents': 45059000000,
  'addTotalDebt': 121840000000,
  'enterpriseValue': 914327458160.984},
 {'symbol': 'AAPL',
  'date': '2017-12-30',
  'stockPrice': 42.307499,
  'numberOfShares': 20451508000,
  'marketCapitalization': 865252154258.492,
  'minusCashAndCashEquivalents': 27491000000,
  'addTotalDebt': 115902000000,
  'enterpriseValue': 953663154258.492}]

In [182]:
# X = better_entire_report_pull(tech, [2018, 2019, 2020], [1,2,3,4])
# X.to_csv('../data/X.csv')

In [183]:
X.head(50)

   Ticker        Date                                         Transcript
0    ABST  2018,1 Qtr                                               None
1    ABST  2018,2 Qtr                                               None
2    ABST  2018,3 Qtr                                               None
3    ABST  2018,4 Qtr                                               None
4    ABST  2019,1 Qtr                                               None
5    ABST  2019,2 Qtr                                               None
6    ABST  2019,3 Qtr                                               None
7    ABST  2019,4 Qtr                                               None
8    ABST  2020,1 Qtr                                               None
9    ABST  2020,2 Qtr                                               None
10   ABST  2020,3 Qtr                                               None
11   ABST  2020,4 Qtr                                               None
12   ACIW  2018,1 Qtr  Operator: Good day. My name is Elsa, and I wil...
13   ACIW  2018,2 Qtr  Operator: Good day. My name is Karnesia, and I...
14   ACIW  2018,3 Qtr  Operator: Ladies and gentlemen, thank you for ...
15   ACIW  2018,4 Qtr  Operator: Good morning. My name is Tiffany and...
16   ACIW  2019,1 Qtr  Operator: Good morning, Ladies and gentlemen. ...
17   ACIW  2019,2 Qtr  Operator: Good morning. My name is Tom, and I ...
18   ACIW  2019,3 Qtr  Operator: Ladies and gentlemen, thank you for ...
19   ACIW  2019,4 Qtr  Operator: Thank you for standing by and welcom...
20   ACIW  2020,1 Qtr  Operator: Ladies and gentlemen, thank you for ...
21   ACIW  2020,2 Qtr  Operator: Ladies and gentlemen, thank you for ...
22   ACIW  2020,3 Qtr                                               None
23   ACIW  2020,4 Qtr                                               None
24   ACLS  2018,1 Qtr  Operator: Good day, ladies and gentlemen, and ...
25   ACLS  2018,2 Qtr  Operator: Good day, ladies and gentlemen, and ...
26   ACLS  2018,3 Qtr  Operator: Good day, ladies and gentlemen, and ...
27   ACLS  2018,4 Qtr  Operator: Good day, ladies and gentlemen, and ...
28   ACLS  2019,1 Qtr  Operator: Good day, ladies and gentlemen. And ...
29   ACLS  2019,2 Qtr  Operator: Good day, ladies and gentlemen, and ...
30   ACLS  2019,3 Qtr  Operator: Good day, ladies and gentlemen, and ...
31   ACLS  2019,4 Qtr  Operator: Good day ladies and gentlemen and we...
32   ACLS  2020,1 Qtr                                               None
33   ACLS  2020,2 Qtr                                               None
34   ACLS  2020,3 Qtr                                               None
35   ACLS  2020,4 Qtr                                               None
36   ACMR  2018,1 Qtr                                               None
37   ACMR  2018,2 Qtr  Operator: Good day, ladies and gentlemen. Than...
38   ACMR  2018,3 Qtr  Operator: Ladies and gentlemen, thank you for ...
39   ACMR  2018,4 Qtr  Operator: Ladies and gentlemen, thank you for ...
40   ACMR  2019,1 Qtr  Operator: Good day, ladies and gentlemen, than...
41   ACMR  2019,2 Qtr  Operator: Good day, ladies and gentlemen. Than...
42   ACMR  2019,3 Qtr  Operator: Good day, ladies and gentlemen, and ...
43   ACMR  2019,4 Qtr  Operator: Good day, ladies and gentlemen. Than...
44   ACMR  2020,1 Qtr  Operator: Ladies and gentlemen, thank you for ...
45   ACMR  2020,2 Qtr  Operator: Good day, ladies and gentlemen. Than...
46   ACMR  2020,3 Qtr                                               None
47   ACMR  2020,4 Qtr                                               None
48   AGYS  2018,1 Qtr  Operator: Good day, ladies and gentlemen, and ...
49   AGYS  2018,2 Qtr  Operator: Good day, ladies and gentlemen, and ...

In [ ]:
ABST???

In [18]:
y = full_pull(tech)

TypeError: cannot concatenate object of type '<class 'int'>'; only Series and DataFrame objs are valid